/* client/src/App.css */
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #F5F5F5;
  color: #333;
}

header {
  background-color: #1A2B49; /* Dark blue background */
  color: #ffffff;
  padding: 20px 0;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 24px;
}

.container {
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

a {
  color: #0087BE; /* Gitpod's blue */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

nav a {
  color: #ffffff;
}

/* Button styles */
button, .button {
  background-color: #FF8A00; /* Gitpod's orange for buttons */
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
}

button:hover, .button:hover {
  opacity: 0.9;
}

/* Form styles */
.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {

  
  

  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

/* Utility Classes */
.text-center {
  text-align: center;
}

.mb-20 {
  margin-bottom: 20px;
}

/* Footer */
footer {
  background-color: #1A2B49;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.input {
  padding: 10px;
}